body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #001f3f; /* Navy blue */
  color: white;
  text-align: center;
}

.hero {
  padding: 50px 20px 20px 20px;
}

.hero h1 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 20px;
  opacity: 0.8;
}

.card {
  background: #002b5c;
  color: white;
  width: 350px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

input {
  width: 90%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button, .optionBtn {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button {
  background-color: #c33764;
  color: white;
}

.optionBtn {
  background-color: #0074D9;
  color: white;
  transition: 0.3s;
}

.optionBtn:hover {
  background-color: #39c0ed;
}

#nextBtn {
  background-color: #2ECC40;
  color: white;
}